@font-face{
    font-family: 'Muli';
    src: url("~src/assets/fonts/Muli.ttf");
    font-weight: 400;
}

@font-face{
    font-family: 'Muli-Bold';
    src: url("~src/assets/fonts/Muli-Bold.ttf");
    font-weight: 700;
}