<div id="formComponent">
    <form>
        <div class="container">
            <div class="col-12 text-right">
                <p class="logo">Invision</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <h1>Welcome to Invision</h1>
                </div>
                <div class="col-12 col-md-8 col-lg-5">
                    <div class="fgroup">
                        <label for="">User name or Email</label>
                        <input type="text">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>