/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');
@import 'fonts';

@font-face{
  font-family: 'Muli';
  src: url("~src/assets/fonts/Muli.ttf");
  font-weight: 400;
}

@font-face{
  font-family: 'Muli-Bold';
  src: url("~src/assets/fonts/Muli-Bold.ttf");
  font-weight: 700;
}



@font-face{
  font-family: 'Avenir Heavy';
  src: url("~src/assets/fonts/Avenir-Heavy.ttf");
  font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--font-default);
}

:root{
  --primary-color: RGBA(169, 197, 186, 1);
  --default-white: RGBA(255, 255, 255, 1);
  --default-black: RGBA(0, 0, 0, 1);
  --light-grey: RGBA(0, 0, 0, 0.16);
  --medium-grey: RGBA(112, 112, 112, 1);
  --font-default: "Muli", "sans-serif";
  --font-heavy: "Muli-Bold", "sans-serif";
  --logo-font: "Avenir Heavy", "sans-serif";
}

body{
}

p{
  margin-bottom: 0;
}

